{% extends 'defects/base.html' %}
{% load render_table from django_tables2 %}
{% block title %}
  Defects
{% endblock %}

{% block body %}
<header>
    <div class="fixed-container">
        <div>
            <h2>Список Дефектов</h2>
        </div>
        <div>

            <form action="{% url 'authentication:logout' %}" method="post">
                {% csrf_token %}
                <button class="light-button" type="submit">Logout</button>
            </form>
        </div>
    </div>

</header>

     <hr>
     <div>
         {% csrf_token %}
         {% render_table table %}
     </div>
     <hr>
     <div>
         <form action="/add_row" method="get">
             <button type="submit">Add Row</button>
     </div>
{% endblock %}
